@model IEnumerable<SalezNoAuthTest1.Models.Workspace>
    @{
        ViewData["Title"] = "Workspacees";
    }

    <h2>Workspacees</h2>
    <table class="table">
        <tr>
            <th>Workspace_id</th>
            <th>Name</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Language</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Workspace_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>
